<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head th:replace="fragments::page_head('CMShop Admin - Home')"/>
	<body  class="bg-admin-page">
		<div class="container-fluid">
			<div th:replace="navigation::menu()"/>
			<div class="mt-2 mb-3">
				<h1>CMShop Home Page</h1>
				<span class="fs-4">Welcome</span>
				<a class="fs-4 text-decoration-none" th:href="@{/account}" sec:authentication="principal.fullname"> </a>
				<span class="fs-4 fw-medium" sec:authentication="principal.roles"></span>
			</div>
			
			<div th:replace="fragments::copyright()"/>

		</div>

	</body>
</html>