<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head(${pageTitle})"/>
<body class="bg-admin-page">
	<div class="container-fluid">
		<div th:replace="navigation::menu()"/>
		<div>
			<h2 class="ms-lg-2 py-4 text-center">Manager Users | [[${pageTitle}]]</h2>
		</div>
		<form th:action="@{/users/save}" method="post" class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3"
			th:object="${user}" onsubmit="return checkUniqueEmail(this);" enctype="multipart/form-data">
			<input type="hidden" id="id" th:field="*{id}">
			<div class="border border-secondary-subtle rounded p-3 bg-white">
				<div class="row  my-3">
					<label class="col-sm-2 offset-sm-1 col-form-label " for="emailInput">E-mail</label>
					<div class="col-sm-9">
						<input type="email" tabindex="-1" th:class="${user.id == null ? 'form-control' : 'form-control bg-secondary-subtle text-secondary'} " id="emailInput" th:field="*{email}" required maxlength="128" minlength="8">
					</div>
				</div>
				
				<div class="row  my-3">
					<label class="col-sm-2 offset-sm-1 col-form-label " for="firstNameInput">First Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="firstNameInput" th:field="*{firstName}" required maxlength="45" minlength="2">
					</div>
				</div>
				
				<div class="row  my-3">
					<label class="col-sm-2 offset-sm-1 col-form-label " for="lastNameInput">Last Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="lastNameInput" th:field="*{lastName}" required maxlength="45" minlength="2">
					</div>
				</div>
				
				<div class="row  my-3">
					<label class="col-sm-2 offset-sm-1 col-form-label " for="passwordInput">Password</label>
					<div class="col-sm-9">
						<input type="password" th:if="${user.id == null}" class="form-control" id="passwordInput" th:field="*{password}" 
							required maxlength="20" minlength="8">
						<input type="password" th:if="${user.id != null}" class="form-control" id="passwordInput" th:field="*{password}" 
							maxlength="20" minlength="8" placeholder="Leave blank if you dont want to change password">
						
					</div>
				</div>
				
				<div class="row  my-3">
					<label class="col-sm-2 offset-sm-1 col-form-label" >Role</label>
					<div class="col-sm-9 pt-2">
						<div class="ms-2">
							<div th:each="role: ${listRoles}">
								<input class="me-1" type="checkbox" th:field="*{roles}" 
									th:text="${role.name}" th:value="${role.id} ">
								- <small class="fst-italic">[(${role.description})]</small>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="row  my-3">
					<label class="col-sm-2 offset-sm-1 col-form-label " for="enable">Enable</label>
					<div class="col-sm-9 pt-2">
						<input class="ms-2" type="checkbox" id="enable" th:field="*{enabled}">
					</div>
				</div>
				<div class="row my-3">
					<label class="col-sm-2 offset-1 col-form-label	" for="fileImage">Photos</label>
					<div class="col-sm-9 ps-sm-4 pt-2">
						<div class="row">
							<div class="col-sm-6">
								<input type="hidden" th:field="*{photos}">
								<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg">
							</div>
							<div class="col-sm-4 col-md-3 col-4 mt-3 mt-sm-0">
								<img id="thumnail" class="img-thumbnail img-fluid" alt="Photos preview" th:src="@{${user.photoImagePath}}">
							</div>	
						</div>						
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary me-3">
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
				</div>
			</div>
		</form>
		
		<div class="modal fade mt-5" id="dupilicatedEmailDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-danger" id="modalTitle"></h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<p id="modalMessage"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments::copyright()"/>
	</div>
</body>
<script type="text/javascript">
	//note in html
	//enctype="multipart/form-data" ensures that the file is sent to the server
	
	function checkUniqueEmail(form){
		let url = "[[@{/users/check_email}]]";
		let userEmail = $('#emailInput').val();
		let csrfValue = $("input[name='_csrf']").val();
		params = {email:userEmail, _csrf : csrfValue};
		
		if($('#id').val() != ""){
			form.submit();
		}else{
			$.post(url,params,function(res){
				if(res == "OK")
					form.submit();
				else if(res == "Duplicated"){
					showDuplicatedEmailDialog("Warning","There is other user having the email " + userEmail + " !!!");
				}else{
					showDuplicatedEmailDialog("Error","No response from the server!!!");
				}
			}).fail(function(){
				showDuplicatedEmailDialog("Error","Could not connect to the server!!!");
			});
		}

		
		
		return false;
	};
	
	function showDuplicatedEmailDialog(title, message){
		$('#modalTitle').text(title);
		$('#modalMessage').text(message);
		$("#dupilicatedEmailDialog").modal('show');
	};
	
</script>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</html>